@page
@model JournalWebApplication.Pages.StudentsCRUD.EditModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>Student</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Student.Id" />
            <div class="form-group">
                <label asp-for="Student.FullName" class="control-label"></label>
                <input asp-for="Student.FullName" class="form-control" />
                <span asp-validation-for="Student.FullName" class="text-danger"></span>

                <label asp-for="StudyGroupId" class="control-label">StudyGroup Id</label>
                <input asp-for="StudyGroupId" class="form-control" />
                <span asp-validation-for="StudyGroupId" class="text-danger"></span>

                <label asp-for="UserId" class="control-label">User Id</label>
                <input asp-for="UserId" class="form-control" />
                <span asp-validation-for="UserId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
