@page
@model JournalWebApplication.Pages.IndexModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<div style="text-align:center">
    <h1>Welcome!</h1>
    <h3>
        Methods for unathorized users:
    </h3>
    <h3><a asp-page="">Get lessons</a></h3>
    <h3><a asp-page="">Get groups</a></h3>
    <h3><a asp-page="">Get students</a></h3>
    <h3><a asp-page="">Get students by group</a></h3>

</div>
